@import "tailwindcss";

@theme {
  /* Tailwind CSS customizations */
  --color-primary: #F7CF05; /* Example primary color */
  
}

@theme {
  /* Font imports */
  --font-geist: var(--geist-font-family);
  --font-family-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

/* Global layer base styles */
@layer base {
  h1 {
    @apply text-5xl leading-tight;
    @apply md:text-7xl md:leading-tight;
  }
  h2 {
    @apply text-4xl leading-tight;
    @apply md:text-6xl md:leading-tight;
  }
  h3 {
    @apply text-3xl leading-snug;
  }
  h4 {
    @apply text-2xl leading-snug;
  }
  h5 {
    @apply text-xl leading-normal;
  }
  p {
    @apply text-lg leading-relaxed;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-black;
  }
  body {
    @apply font-sans;
  }
}
